body{
background:url(/practice/proj-1/cute-bg.jpg) center center;
display:flex;
align-items: center;
justify-content: center;
height:100vh;
padding-bottom:200px;
}
.container{
width:300px;
background-color: #333;
height:350px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
border:2px solid black;
border-radius: 15px;
position:relative;
}
#timer{
color:white;
padding-bottom:20px;
font-size: 2.9em;
font-family: Arial, Helvetica, sans-serif;
}
button {
font-size:20px;
padding-top:px;
border:none;
background:none;
}
button i{
padding:3px 3px;
width:50px;
height:35px;
align-content: center;
border-radius: 10px;
padding-top: 10px;
}

#play{
background-color: green;

}
#reset{
    background-color: red;
    margin-left:15px;
}
#pause{
    background-color: orange;
    
}
#playButton{
display:inline-block;
   
}
#buttonReset{
    display:inline-block;
}


.lap{ 
background-color: blue;
width:75px;
border-radius: 5px;
margin-top:15px;
color:white;
position:absolute;
top:240px;
left:110px;
display:none;
padding:5px 5px;
}
.demo{
display:flex;
align-items: center;
justify-content: center;
position: absolute;
top:600px;
width:300px;
background-color:#333;
height:100px;
display:none;
color:white;
font-size:25px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
border:2px solid black;
}
#header{
    position:absolute;
    top:100px;
    font-family: Arial, Helvetica, sans-serif;
    width:160px;
    height:50px;
    background: #333;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    text-align: center;
    padding-top:20px;
}